<link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>

<body>
    <div align="center" class="titleOfTemplate">
        <h2><b>
                Find your AllChat account !
            </b>
        </h2>
        <div class="fieldsHolder">
            <form>
                <div><br><br>
                    <label class="enterEmail"><b>Enter email</b></label></div>
                    <input type="text" placeholder="Enter your email !" ng-model="email" required>

                    <br>
                    <br>




                    <button type="submit" value="Create account" ng-click="forgetPassword()"><b>Find !</b></button>
                      
                  
                   <button type="submit" value="Go Back to Login" ui-sref="login"><b>CANCEL</b></button>
            </form>
        </div>
    </div>
</body>

</html>