<link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>


<div align="center" >
    <h2 class="login"><b>Log in to AllChat !</b></h2>
    <div class="fieldsHolder">
        <form>
            <div class="box">
                <label><b>Email :</b>

                </label>
                <input type="email" placeholder="Enter your email !" ng-model="email" required>
                <br>
                <br>
                <label><b>Password :</b>

                </label>
                <input type="password" placeholder="Enter your password !" ng-model="password" required>
                <br><br>

                <a style="text-decoration: none" class="ForgetPassword" ui-sref="forgetPassword"><b>Forget password ?</b> </a>


                <button style="box-shadow: 0px 0px 10px black" type="submit" value="SIGN IN" ng-click="login()"><b>LOG IN !</b></button>
                <button style="box-shadow: 0px 0px 10px black" type="submit" value="SIGN IN" ui-sref="register"><b>SIGN UP !</b></button>
            </div>
        </form>

    </div>

<div class="developedBy">
    <b>PURUSHOTTAM</b>
</div>