
<body>
    <div align="center" class="titleOfTemplate">
        <h2><b>
                Let's reset your password 
            </b>
        </h2>
        <div class="fieldsHolder">
            <form>
                <div><br><br>
              
                    <label><b>Enter new password </b></label>
                    <input type="password" placeholder="Enter your new password!" ng-model="password" required>
                    <br><br>

                   
                    <button type="submit" value="Create account" ng-click="resetPassword()">Reset !</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>